<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/data" method="POST">
        <legend for="fname">First Name</legend>
        <input type="text" name="fname" id="fname" required><br><br>
        <legend for="lname">Last Name</legend>
        <input type="text" name="lname" id="lname" required><br><br>
        <legend for="email">Email</legend>
        <input type="email" name="email" id="email" required><br><br>
        <legend for="rnum">Roll Number</legend>
        <input type="text" name="rnum" id="rnum" required><br><br>
        <legend for="dob">Date of Birth</legend>
        <input type="date" name="dob" id="dob" required><br><br>
        <legend for="data">Data</legend>
        <input type="text" name="data" id="data"><br><br>
        <input type="text" name="data" id="data"><br><br>
        <input type="text" name="data" id="data"><br><br>
        <input type="text" name="data" id="data"><br><br>
        <input type="text" name="data" id="data"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>